/* FONTS */

@font-face {
    font-family: 'Figtree';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Regular.woff2') format('woff2'),
        url('./fonts/Figtree/fonts/ttf/Figtree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Bold';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Bold.woff2') format('woff2'),
        url('./fonts/Figtree/fonts/ttf/Figtree-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Italic';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Italic.woff2') format('woff2'),
        url('./fonts/Figtree/fonts/ttf/Figtree-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Action-Jackson';
    src: url('./fonts/actionj.ttf') format('truetype');
}

/* NAVBAR */

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 240px;
    background-color: #FEFEFA;
    position: sticky;
    top: 0;
}

ul.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
    gap: 0.8em;
}

ul.navbar li {
    display: inline-block;
}

ul.navbar li a {
    color: #2c64a4;
    text-decoration: none;
    position: relative;
    font-family: 'Figtree-Bold';
}

ul.navbar li a:hover {
    border-bottom: .18em solid #fcd990;
}

#logo-corner {
    width: 2.5em;
}

/* LANDING PAGE */

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
    padding: 1em 0 0 0;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
}

.links a img {
    width: 2em;
    text-decoration: none;
}

.landing-page h1 {
    color: #220d06;
}

#hello-im {
    color: #e04819;
}

#bg-image {
    width: 100%;
    height: auto;
    object-fit: fill;
}

/* ABOUT */

.about {
    padding: 120px 240px 60px 240px;
}

.about h2 {
    color: #e04819;
}

/* PORTFOLIO */

.portfolio {
    padding: 100px 240px 40px 240px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

#leaves {
    width: 4em;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px 10px;
    width: 100%;
}

.projects img {
    width: 18em;
    border-radius: 0.4em;
}

.projects a img {
    width: 16em;
    border-radius: 0.4em;
}

.projects a:hover {
    transform: scale(1.02);
}

/* EDUCATION */

.education {
    padding: 100px 240px 40px 240px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.school {
    display: flex;
    gap: 1em;
    align-items: center;
}

.school h3 {
    color: #528c02;
}

.school h4 {
    color: #528c02;
}

#school-logo {
    max-width: 8em;
}

/* EXPERIENCE */

.experience {
    padding: 100px 240px 40px 240px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.experience-title {
    display: flex;
    align-items: flex-end;
    gap: 3em;
    flex-wrap: wrap;
}

.experience-content {
    display: flex;
    gap: 3em;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.tab {
    cursor: pointer;
    padding-left: 1em;
    max-width: 16em;
}

.tab-content {
    max-width: 44em;
}

.tab-content h3 {
    color: #2c64a4;
}

.tab-content h4 {
    color: #2c64a4;
}

.tab.active {
    border-left: .2em solid #fcd990;
}

.tab:hover {
    border-left: .2em solid #fcd990;
}

#experience-soos {
    max-width: 12em;
}

/* SKILLS */

.skills {
    padding: 100px 240px 40px 240px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.skills-content-img {
    display: flex;
    align-items: flex-end;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.skills-img {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    justify-content: center;
}

.skills-img img {
    max-width: 8em;
    border-radius: 0.8em;
}

#skills-soos {
    max-width: 20em;
    height: auto;
}

/* FOOTER */

.last-soos {
    padding: 40px 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-soos {
    max-width: 8em;
}

.footer {
    padding: 32px;
    background-color: #e04819;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #FEFEFA;
    text-align: center;
}

/* HEADERS AND BODY */

@media only screen and (max-width: 800px) {

    /* NAV */

    .main-nav {
        padding: 32px 40px;
    }

    .main-nav li a {
        font-size: 14px;
    }

    /* LANDING PAGE */

    .landing-page {
        margin: 0;
        padding: 100px 0px 0px 0px;
        gap: 1em;
        overflow: hidden;
    }

    .landing-page h1 {
        font-size: 52px;
    }

    .landing-page p {
        font-size: 14px;
    }

    #bg-image {
        width: 160%;
        height: auto;
        overflow: hidden;
    }

    /* ABOUT */

    .about {
        padding: 80px 40px;
    }

    .about h2 {
        font-size: 40px;
    }

    .about p {
        font-size: 14px;
    }

    /* PORTFOLIO */

    .portfolio {
        padding: 80px 40px;
    }

    .portfolio h2 {
        font-size: 40px;
    }

    .projects img {
        width: 14em;
    }
    
    .projects a img {
        width: 12em;
    }

    /* EDUCATION */

    .education {
        padding: 80px 40px;
    }

    .education h2 {
        font-size: 40px;
    }

    .education h3 {
        font-size: 14px;
    }

    .education h4 {
        font-size: 14px;
    }

    .education p {
        font-size: 14px;
    }

    /* EXPERIENCE */

    .experience {
        padding: 80px 40px;
    }

    .experience h2 {
        font-size: 40px;
    }

    .experience h3 {
        font-size: 14px;
    }

    .experience h4 {
        font-size: 14px;
    }

    .experience li {
        font-size: 14px;
    }

    .experience-content {
        gap: 1em;
    }
    
    /* SKILLS */

    .skills {
        padding: 100px 40px;
    }

    .skills h2 {
        font-size: 40px;
    }

    .skills h3 {
        font-size: 14px;
    }

    /* FOOTER */

    .last-soos {
        padding: 0px 40px 40px 40px;
    }

    .footer {
        padding: 40px 10px;
    }

    .footer p {
        font-size: 14px;
    }
}

body {
    margin: 0px;
    background-color: #FEFEFA;
}

p,
a,
ul {
    color: #2c64a4;
    margin: 0px;
    letter-spacing: 0.015em;
    font-family: 'Figtree';
    font-size: 18px;
}

h1 {
    color: #2c64a4;
    font-family: 'Action-Jackson', sans-serif;
    font-size: 68px;
    margin: 0px;
}

h2 {
    color: #e04819;
    font-family: 'Action-Jackson', sans-serif;
    font-size: 48px;
    margin: 0px;
}

h3 {
    color: #528c02;
    font-family: 'Figtree-Bold';
    letter-spacing: 0.015em;
    font-size: 18px;
    margin: 0px;
}

h4 {
    color: #528c02;
    font-family: 'Figtree-Italic';
    letter-spacing: 0.015em;
    font-size: 18px;
    margin: 0px;
}