/* FONTS */

@font-face {
    font-family: 'Figtree';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Regular.woff2') format('woff2'),
         url('./fonts/Figtree/fonts/ttf/Figtree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Bold';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Bold.woff2') format('woff2'),
         url('./fonts/Figtree/fonts/ttf/Figtree-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Italic';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Italic.woff2') format('woff2'),
         url('./fonts/Figtree/fonts/ttf/Figtree-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Action-Jackson';
    src: url('./fonts/actionj.ttf') format('truetype');
}

/* BORDER */


/* NAVBAR */
ul.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
}

ul.navbar li {
    font-family: 'Figtree-Bold', monospace;
    display: inline-block;
    margin-right: 15px; /* Add some spacing between items */
}

ul.navbar li a {
    color: #212121;
    text-decoration: none;
    position: relative;
}

/* ul.navbar li a:hover {
    border-bottom: 2px solid #616161;
} */


/* HEADERS AND BODY */
html {
    margin: 40px 160px;
    font-family: 'Figtree', monospace;
    letter-spacing: 0.015em;
    color: #212121;
    background-color: #FEFEFA;
}

h1 {
    font-family: 'Action-Jackson', sans-serif;
    font-size: 68px;
    margin: 0px;
}

p {
    margin: 0px;
}

ul {
    margin: 0px;
}

h2 {
    font-family: 'Action-Jackson', sans-serif;
    font-size: 48px;
    margin: 0px;
}

h3 {
    font-family: 'Figtree-Bold';
    letter-spacing: 0.015em;
    margin: 0px;
}

h4 {
    font-family: 'Figtree-Italic';
    letter-spacing: 0.015em;
    margin: 0px;
}

div {
    padding-bottom: 40px;
}

img {
    width: 300px;
}

a {
    color: #080808;
}

#smile {
    position: absolute;
    width: 30px;
}

div.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    position: sticky;
    width: 100%;
    padding-bottom: 0px;
}

div.intro h1 {
    text-align: center;
    width: 50%;
    min-width : 340px;
}

div.intro img {
    width: 30%;
    min-width : 380px;
}

div.about-sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 60px;
    position: sticky;
    width: 100%;
}

div.about-sub p {
    width: 70%;
}

div.about-sub img {
    width: 24%;
    min-width : 200px;
}

div.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px 20px;
    position: sticky;
    width: 100%;
}

div.projects a:hover {
   
  transform: scale(1.02);

}

#eyeball_bg1 {
    position: absolute;
    top: 20%;
    left: 90%;
}

#eyeball_bg2 {
    position: absolute;
    top: 80%;
    left: -12%;
}

#eyeball_bg3 {
    position: absolute;
    top: 150%;
    left: 90%;
}

#eyeball_bg4 {
    position: absolute;
    width: 25%;
    top: 40%;
    left: 70%;
}