/* FONTS */

@font-face {
    font-family: 'Figtree';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Regular.woff2') format('woff2'),
        url('./fonts/Figtree/fonts/ttf/Figtree-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Bold';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Bold.woff2') format('woff2'),
        url('./fonts/Figtree/fonts/ttf/Figtree-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Figtree-Italic';
    src: url('./fonts/Figtree/fonts/webfonts/Figtree-Italic.woff2') format('woff2'),
        url('./fonts/Figtree/fonts/ttf/Figtree-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Action-Jackson';
    src: url('./fonts/actionj.ttf') format('truetype');
}

/* NAVBAR */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 24px 360px;
    background-color: #FEFEFA;
    position: sticky;
    top: 0;
}

ul.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
    gap: 0.2em 0.8em;
}

ul.navbar li {
    display: inline-block;
}

ul.navbar li a {
    color: #2c64a4;
    text-decoration: none;
    position: relative;
    font-family: 'Figtree-Bold';
}

ul.navbar li a:hover {
    border-bottom: .18em solid #fcd990;
}

#logo-corner {
    width: 2.5em;
}

/* LANDING PAGE */

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 20px 0 0 0;
}

.landing-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.links a img {
    width: 2em;
    text-decoration: none;
}

.links a:hover {
    transform: scale(1.02);
}

.landing-page h1 {
    color: #220d06;
}

#hello-im {
    color: #e04819;
}

#bg-image {
    width: 100%;
    height: auto;
    object-fit: fill;
}

/* ABOUT */

.right-align {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
}

/* PORTFOLIO */

#leaves {
    width: 3.6em;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.8em;
}

.projects img {
    width: 12em;
    border-radius: 0.4em;
}

.projects a img {
    width: 12em;
    border-radius: 0.4em;
}

.projects a:hover {
    transform: scale(1.02);
}

/* EDUCATION */

.school {
    display: flex;
    gap: 0.8em;
    align-items: center;
    justify-content: space-between;
}

.schools {
    display: flex;
    gap: 0.6em;
    flex-direction: column;
    
}

#school-logo {
    max-width: 8em;
}

.school-info {
    flex: 1;
}

/* EXPERIENCE */

.experience-title {
    display: flex;
    align-items: flex-end;
    gap: 1em 3em;
    flex-wrap: wrap;
}

.experience-content {
    display: flex;
    gap: 1em;
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tabs {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
    margin: 0;
    padding: 0;
    max-width: 16em;
}

.tab {
    cursor: pointer;
    padding-left: 0.6em;
}

.tab-content {
    flex: 1;
}

.tab-content h3 {
    color: #2c64a4;
}

.tab-content h4 {
    color: #2c64a4;
}

.tab.active {
    border-left: .2em solid #fcd990;
}

.tab:hover {
    border-left: .2em solid #fcd990;
}

#experience-soos {
    max-width: 12em;
}

/* SKILLS */

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.skills-img {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    justify-content: center;
}

.skills-img img {
    max-width: 8em;
    border-radius: 0.8em;
}

#skills-soos {
    max-width: 20em;
    height: auto;
}

/* FOOTER */

.last-soos {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-soos {
    max-width: 8em;
}

.footer {
    padding: 32px;
    background-color: #e04819;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #FEFEFA;
    text-align: center;
}

/* HEADERS AND BODY */

body {
    margin: 0px;
    background-color: #FEFEFA;
}

p,
a,
ul {
    color: #2c64a4;
    margin: 0px;
    letter-spacing: 0.015em;
    font-family: 'Figtree';
    font-size: 16px;
}

h1 {
    color: #2c64a4;
    font-family: 'Action-Jackson', sans-serif;
    font-size: 68px;
    margin: 0px;
}

h2 {
    color: #e04819;
    font-family: 'Action-Jackson', sans-serif;
    font-size: 48px;
    margin: 0px;
}

h3 {
    color: #528c02;
    font-family: 'Figtree-Bold';
    letter-spacing: 0.015em;
    font-size: 16px;
    margin: 0px;
}

h4 {
    color: #528c02;
    font-family: 'Figtree-Italic';
    letter-spacing: 0.015em;
    font-size: 16px;
    margin: 0px;
}

.right-title-section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 100px 360px 40px 360px;
}

.center-title-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding: 100px 360px 40px 360px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1300px) {
    .right-title-section {
        gap: 1em;
        padding: 100px 180px 40px 180px;
    }

    .center-title-section {
        gap: 1em;
        padding: 100px 180px 40px 180px;
    }

    .main-nav {
        padding: 20px 180px;
    }

    .landing-page {
        margin: 0;
        padding: 10px 0px 0px 0px;
        gap: 1em;
        overflow: hidden;
    }

    .last-soos {
        padding: 40px;
    }

    .footer {
        padding: 40px 10px;
    }

    .tabs {
        width: 40%;
    }

    .skills-img img {
        max-width: 6em;
        border-radius: 0.8em;
    }
}

@media only screen and (max-width: 850px) {

    .right-title-section {
        gap: 1em;
        padding: 140px 40px 0px 40px;
    }

    .right-title-section h2 {
        font-size: 40px;
    }

    .right-title-section h3 {
        font-size: 14px;
    }

    .right-title-section h4 {
        font-size: 14px;
    }

    .right-title-section li {
        font-size: 14px;
    }

    .right-title-section p {
        font-size: 14px;
    }
    
    .center-title-section {
        gap: 1em;
        padding: 140px 40px 0px 40px;
    }

    .center-title-section h2 {
        font-size: 40px;
    }

    /* NAV */

    .main-nav {
        padding: 24px 40px;
    }

    .main-nav li a {
        font-size: 14px;
    }

    /* LANDING PAGE */

    .landing-page {
        margin: 0;
        padding: 80px 0px 0px 0px;
        gap: 1em;
        overflow: hidden;
    }

    .landing-page h1 {
        font-size: 52px;
    }

    .landing-page p {
        font-size: 14px;
    }

    #bg-image {
        width: 150%;
        height: auto;
        overflow: hidden;
    }

    /* PORTFOLIO */

    .projects img {
        width: 12em;
    }
    
    .projects a img {
        width: 12em;
    }

    /* EXPERIENCE */

    .tabs {
        width: 30%;
    }

    .experience-content {
        gap: 2em;
    }

    .tab-content {
        flex: 1;
    }
    
    /* SKILLS */

    .skills-img img {
        max-width: 6em;
    }

    /* FOOTER */

    .last-soos {
        padding: 40px;
    }

    .footer {
        padding: 40px 10px;
    }

    .footer p {
        font-size: 14px;
    }

    #footer-soos {
        max-width: 6em;
    }
}